/* Styling variables  */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Volkhov:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;500;600;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Nanum+Brush+Script&display=swap');

$dark-purple-main: #5a13f2;
$light-purple-main: #ab05f2;
$dark-purple-main-hover: #5510eb;
$light-purple-main-hover: #a304e7;

$dark-blue-font: #023e7d;
$dark-blue-icon: #03045e;
$default-font-family: "Montserrat", serif;
$header-font-family: "Brush Script MT","Roboto Slab", cursive;
// $light-gray-bgc: #f8f9fa;
$light-gray-bgc: #f7f7f8;


$zindex-dropdown: 1000;
$zindex-sticky: 1020;
$zindex-fixed: 1030;
$zindex-modal-backdrop: 1040;
$zindex-modal: 1050;
$zindex-popover: 1060;
$zindex-tooltip: 1070;
