@import "./variables";

/* ##################### */
/* ### Common classes ### */
/* ##################### */


p{
  margin: 0;
}

.mb-6 {
  margin-bottom: 4rem;
}

.mb-lg-6 {
  margin-bottom: 1rem;

  @media screen and (min-width: 992px) {
    margin-bottom: 4rem;
  }
}

.pb-footer {
  padding-bottom: 15rem;
}

.w-lg-40 {
  // width: 40%;
  // margin: 0 auto;
  @media screen and (min-width: 992px) {
    width: 40%;
  }
}

.w-lg-50 {
  width: 94%;
  margin: 0 auto;
  @media screen and (min-width: 992px) {
    width: 50%;
    margin: 0;
  }
}

.w-70-centered {
  width: 70%;
  margin: 0 auto;
}

.w-lg-70-centered {
  width: 96%;
  margin: 0 auto;

  @media screen and (min-width: 992px) {
    width: 70%;
    margin: 0 auto;
  }
}

.w-80 {
  width: 80%;
}

.w-80-centered {
  width: 80%;
  margin: 0 auto;
}

.w-lg-80-centered {
  width: 90%;
  margin: 0 auto;
  @media screen and (min-width: 992px) {
    width: 80%;
    margin: 0 auto;
  }
}

.w-90 {
  width: 90%;
}
.w-lg-90 {
  @media screen and (min-width: 992px) {
    width: 90%;
  }
}

.w-90-centered {
  width: 90%;
  margin: 0 auto;
}

.w-lg-90-centered {
  width: 94%;
  margin: 0 auto;

  @media screen and (min-width: 992px) {
    width: 90%;
    margin: 0 auto;
  }
}

.diplay-flex {
  display: flex;
}

.light-gray-container {
  min-height: 90vh;
  background-color: $light-gray-bgc;
  border-bottom: 1px solid rgb(243, 243, 243);

  @media screen and (min-width: 992px) {
    // min-height: 90vh;
  }
}

.purple-gradient-border-bottom {
  margin: 14px 0;
  height: 4px;
  border-radius: 5px;
  background: $dark-purple-main; /* Default color */
  background: -webkit-linear-gradient(
    to right,
    $dark-purple-main,
    $light-purple-main
  ); /* Color for supporter browsers: Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    $dark-purple-main,
    $light-purple-main
  ); /* Color for supporter browsers: W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.center-element {
  margin: 0 auto;
}

.blue-font {
  color: $dark-blue-font;
}

.line-height {
  line-height: 2rem;
}

.no-outline{

  &:focus,
  &:active {
    outline: none;
    box-shadow: none;
  }
}

.btn-purple-rounded {
  border-radius: 50px;
  color: white;
  background: $dark-purple-main; /* Default color */
  background: -webkit-linear-gradient(
    to right,
    $dark-purple-main,
    $light-purple-main
  ); /* Color for supporter browsers: Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    $dark-purple-main,
    $light-purple-main
  ); /* Color for supporter browsers: W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  &:focus,
  &:active {
    outline: none;
    box-shadow: none;
  }
   
  &:hover {
    color: white;
    background: $dark-purple-main-hover; /* Default color */
    background: -webkit-linear-gradient(
      to right,
      $dark-purple-main-hover,
      $light-purple-main-hover
    ); /* Color for supporter browsers: Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
      to right,
      $dark-purple-main-hover,
      $light-purple-main-hover
    ); /* Color for supporter browsers: W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }
}

.text-decoration-none {
  text-decoration: none;
}

.center-vertically {
  margin: auto 0;
}

.dark-blue-font {
  color: $dark-blue-font;
}

.row .equal {
  display: flex;
  flex-wrap: wrap;
}

.zindex-tooltip {
  z-index: $zindex-tooltip;
}

html {
  font-family: $default-font-family;
  font-size: 20px;
}

body {
  margin: 0;
  padding: 0;
  font-family: $default-font-family;
}

.layout-container {
  position: relative;
}

header {
  border-bottom: 1px solid rgb(240, 240, 240);
}

.navbar {
  width: 96%;
  margin: 0 auto 0 auto;

  @media screen and (min-width: 768px) {
    width: 80%;
  }

  @media screen and (min-width: 992px) {
    width: 90%;
  }
}

.hamburger{
  &-line{
    margin: 6px 0;
    width: 36px;
    height: 4px;
    border-radius: 7px;
    background-color: $dark-purple-main;
    transition: 0.1s ease-in-out;
    border-bottom: 3px solid #5a13f2;
    background: $dark-purple-main; /* Default color */
    background: -webkit-linear-gradient(
      to right,
      $dark-purple-main,
      $light-purple-main
    ); /* Color for supporter browsers: Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
      to right,
      $dark-purple-main,
      $light-purple-main
    ); /* Color for supporter browsers: W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }
}



.navbar-toggler {
  border: none;
  &:focus,
  &:active {
    outline: none;
    box-shadow: none;
  }
}

.navbar-toggler-icon:focus {
  outline: none;
  box-shadow: none;
}

.nav-items {
  display: flex;
}

.nav-item {
  margin: 10px auto 7px auto;
  padding: 0 0 7px 0 ; 
  font-size: 1rem;
  font-weight: bold;
  list-style: none;
  border-bottom: 3px solid transparent;
  color: $dark-blue-font !important;
  width: 40%;
  text-align: center;
  text-decoration: none;
  
  @media screen and (min-width: 992px) {
    margin: 2px 50px 0px 50px;
    padding: 10px 0;
  }

  &:hover {
    transition: 0.1s ease-in-out;
    border-bottom: 3px solid #5a13f2;
    background: $dark-purple-main; /* Default color */
    background: -webkit-linear-gradient(
      to right,
      $dark-purple-main,
      $light-purple-main
    ); /* Color for supporter browsers: Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
      to right,
      $dark-purple-main,
      $light-purple-main
    ); /* Color for supporter browsers: W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.nav-link {
  text-decoration: none;
  padding: 0px;
  color: inherit !important;

  @media screen and (min-width: 992px) {
    padding: 7px;
  }
}

.active-link {
  margin: 10px auto ;
  // padding: 4px 0 7px  0 ; 
  background: $dark-purple-main; /* Default color */
  background: -webkit-linear-gradient(
    to right,
    $dark-purple-main,
    $light-purple-main
  ); /* Color for supporter browsers: Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    $dark-purple-main,
    $light-purple-main
  ); /* Color for supporter browsers: W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  border-bottom: 3px solid #5a13f2;

  @media screen and (min-width: 992px) {
    margin: 2px 50px 0px 50px;
  }
}

/* ##################### */
/* ### Home page ### */
/* ##################### */

.main-text {
  text-align: center;
  margin: 5% auto 5% auto;

  @media screen and (min-width: 992px) {
    margin: 10% auto 0 auto;
  }
}

.heading-middle {
  /* display: inline-block; */
  font-size: 2.2rem;
  margin: 20px 0 0 0;
  font-weight: 600;
  color: $dark-blue-font;
}

.heading-small {
  margin: 15px 0;
  font-size: 1.4rem;
  font-weight: 600;
  color: $dark-blue-font;

  @media screen and (min-width: 992px) {
    font-size: 1.7rem;
    margin: 17px 0 0 0;
  }
}

.heading-smaller {
  font-size: 1.3rem;
  font-weight: 500;
  margin: 5px 0 0 0;
  color: $dark-blue-font;
}

.heading-tin-stay {
  width: inherit;
  height: inherit;
  font-size: 3.4rem;
  margin: 0 0 0px 0;
  font-family: $header-font-family;
  // font-style: italic;
  font-weight: bolder;
  letter-spacing: 3px;
  color: $dark-blue-font;

  /* Color */
  background: $dark-purple-main; /* Default color */
  background: -webkit-linear-gradient(
    to right,
    $dark-purple-main,
    $light-purple-main
  ); /* Color for supporter browsers: Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    $dark-purple-main,
    $light-purple-main
  ); /* Color for supporter browsers: W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  @media screen and (min-width: 992px) {
    margin: 0px;
    font-size: 4.3rem;
    width: 400px;
    height: 120px;
  }

  @media screen and (min-width: 1199px) {
    margin: 0px;
    font-size: 5rem;
    width: 440px;
    height: 140px;
  }
}

.jumbotron-buttons {
  margin-top: 3rem;
}

.btn-jumbotron-full {
  padding: 10px 27px;
  margin: 0 10px 0 0;
  border: $dark-purple-main;
  color: white;
  font-weight: 600;
  font-size: 1rem;
  border-radius: 40px;
  text-decoration: none;

  background: $dark-purple-main; /* Default color */
  background: -webkit-linear-gradient(
    to right,
    $dark-purple-main,
    $light-purple-main
  ); /* Color for supporter browsers: Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    $dark-purple-main,
    $light-purple-main
  ); /* Color for supporter browsers: W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  &:hover {
    color: white;
    background: $dark-purple-main-hover; /* Default color */
    background: -webkit-linear-gradient(
      to right,
      $dark-purple-main-hover,
      $light-purple-main-hover
    ); /* Color for supporter browsers: Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
      to right,
      $dark-purple-main-hover,
      $light-purple-main-hover
    ); /* Color for supporter browsers: W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }

  @media screen and (min-width: 992px) {
    margin-right: 20px;
    padding: 15px 35px;
  }
}

.btn-jumbotron {
  padding: 7px 27px;
  margin: auto 0;
  border: 3px solid $light-purple-main;
  border-radius: 40px;
  background-color: transparent;
  font-size: 1rem;
  font-weight: 600;
  color: $light-purple-main;
  text-decoration: none;
  transition: all 0.2s ease-in-out;

  &:hover {
    color: $light-purple-main;
  }

  @media screen and (min-width: 992px) {
    padding: 12px 35px;
  }
}

.profile-image-container {
  margin: 5% auto 0 auto;

  @media screen and (min-width: 992px) {
    // margin: 10% auto 0 auto;
  }
}

.profile-image-circle {
  margin: 5% auto 5% auto;
  width: 160px;
  height: 145px;
  padding: 2px 2px;
  border-radius: 50%;
  background-size: cover;
  background: $dark-purple-main; /* Default color */
  background: -webkit-linear-gradient(
    to right,
    $dark-purple-main,
    $light-purple-main
  ); /* Color for supporter browsers: Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    $dark-purple-main,
    $light-purple-main
  ); /* Color for supporter browsers: W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  -webkit-box-shadow: 1px 5px 15px 5px rgb(199, 199, 199);
  box-shadow: 1px 5px 15px 5px rgb(199, 199, 199);

  @media screen and (min-width: 992px) {
    width: 315px;
    height: 285px;
    margin: 10% auto 0 auto;
  }

  @media screen and (min-width: 1199px) {
    width: 365px;
    height: 335px;
  }
}

.profile-image {
  width: 160px;
  height: 145px;
  padding: 4px;

  border-radius: 50%;
  background-size: cover;

  @media screen and (min-width: 992px) {
    width: inherit;
    height: inherit;
  }

  @media screen and (min-width: 1199px) {
  }
}

@media only screen and (max-width: 1199px) {
  .heading-middle {
    font-size: 1.6rem;
  }

  .jumbotron-buttons {
    display: flex;
    justify-content: space-around;
    margin: 3rem 0;
  }
}

.skills-container {
}

.about-image {
  margin: auto auto;

  @media screen and (min-width: 992px) {
    width: inherit;
    height: inherit;
  }

  width: inherit;
}

.purple-container {
  background: $dark-purple-main; /* Default color */
  background: -webkit-linear-gradient(
    to right,
    $dark-purple-main,
    $light-purple-main
  ); /* Color for supporter browsers: Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    $dark-purple-main,
    $light-purple-main
  ); /* Color for supporter browsers: W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  .about-container {
    position: relative;
    background-color: white;
  }

  .purple-line {
    position: absolute;
    left: 50%;
    height: 90%;
    width: 3px;
    border-radius: 5px;
    background: $dark-purple-main; /* Default color */
    background: -webkit-linear-gradient(
      to right,
      $dark-purple-main,
      $light-purple-main
    ); /* Color for supporter browsers: Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
      to right,
      $dark-purple-main,
      $light-purple-main
    ); /* Color for supporter browsers: W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }
}

/* ##################### */
/* ### Projects page ### */
/* ##################### */

.heading-section {
  /* margin: 1.5rem auto 0 auto; */
  /* text-align: center; */
  /* width: 80%; */
  font-size: 2rem;
  margin: 0 0 2.3rem 0;
  font-weight: 600;
  color: $dark-blue-font;
}

.project-row {
  margin: 0 0 35px 0;
}

.project-card {
  height: 100%;
  // min-height: 380px;
  background-color: white;
  border-radius: 7px 7px; /* bottom side */
  border-bottom: 5px solid $light-purple-main;
  border-top: 1px solid rgb(233, 233, 233);
  border-left: 1px solid rgb(233, 233, 233);
  border-right: 1px solid rgb(233, 233, 233);

  &-purple-bgc {
    background-color: $light-purple-main;
    border-radius: 7px 7px 0 0;
    // border-bottom: 5px solid $light-purple-main;
    // border-top: 1px solid rgb(233, 233, 233);
    // border-left: 1px solid rgb(233, 233, 233);
    // border-right: 1px solid rgb(233, 233, 233);
  }
}

.project-card-image {
  width: 100%;
  height: 220px;
  border-radius: 7px 7px 0 0; /* top side */
  margin: 0 auto;
  border-bottom: 1px solid rgb(233, 233, 233);
  transition: all 0.1s ease-in-out;

  &:hover {
    opacity: 0.98;
    // backdrop-filter: blur(1px) ;
    // -webkit-filter: blur(1px);
  }
}

.project-card-body {
  margin-top: 0;
  padding: 0px 10px 0px 10px;
  /* border-radius: 0 0 7px 7px; bottom side */
  color: $dark-blue-font;
}

.project-card-small-text {
  margin: 5px 0;
  font-size: 1rem;
  font-weight: 400;
}

.project-card-big-text {
  margin: 10px 0;
  font-size: 1.2rem;
  font-weight: 500;
}

/* ############################ */
/* ### Projects detail page ### */
/* ############################ */

.project-detail-container {
  background-color: #fff;
  border-radius: 10px;
  border: 1px solid rgb(233, 233, 233);
}

.heading-project-detail {
  font-size: 2rem;
  margin: 0 0 0rem 0;
  font-weight: 600;
  color: $dark-blue-font;
}

.project-detail-desc {
  // margin: 50px 0px 50px 0;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  filter: invert(100%);
}



.tech-icon {
  // margin-right: 15px;
  font-size: 3.2rem;

  @media screen and (min-width: 992px) {
    font-size: 4rem;
  }
}

.netlify-icon {
  color: #00ad9f !important;
  // background:#00AD9F !important;
  // background: -webkit-linear-gradient(
  //   to bottom,
  //   #00AD9F,
  //   #00C7B7
  // ) !important; /* Color for supporter browsers: Chrome 10-25, Safari 5.1-6 */

  // background: linear-gradient(
  //   to bottom,
  //   #00AD9F,
  //   #00C7B7
  // )!important; /* Color for supporter browsers: W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  // -webkit-background-clip: text !important;
  // -webkit-text-fill-color: transparent !important;
}

.project-detail-preview {
  margin: 50px 80px 50px 0;
}

.pdf-viewer {
  width: 100%;
  height: 500px;
}

.btn-go-back {
  color: $dark-blue-font;
  font-size: 0.9rem;
}

.carousel-container {
  margin: 1rem auto;

  .carousel-image {
    width: 100%;
    max-height: 1080px;
    border-radius: 7px; /* top side */
    margin: 0 auto;
    border: 1px solid rgb(233, 233, 233);
  }
}

/* ##################### */
/* ### Contact me page ### */
/* ##################### */

.contact-container {
  background-color: #fff;
  border-radius: 10px;
  border: 1px solid rgb(233, 233, 233);
}

.heading-contact {
  font-size: 2rem;
  /* width: 80%; */
  margin: 0 auto 1.5rem auto;
  font-weight: 600;
  color: $dark-blue-font;
}

.contact-info-container {
  width: 90%;
  margin: 0 auto;
}

.contact-info-details {
  margin: 1.5rem auto 2.3rem auto;
  font-weight: 500;
  color: $dark-blue-font;
}

.contact-info-row {
  font-size: 1rem;
  margin: 0px auto 25px auto;
}

.contact-info-icon {
  font-size: 1.8rem !important;
  margin-right: 13px;
  background: $dark-purple-main; /* Default color */
  background: -webkit-linear-gradient(
    to right,
    $dark-purple-main,
    $light-purple-main
  ); /* Color for supporter browsers: Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    $dark-purple-main,
    $light-purple-main
  ); /* Color for supporter browsers: W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent !important;
}

.contact-info-icon-big {
  font-size: 3rem !important;
  // margin-right: 13px;
  margin: auto 0;
  background: $dark-purple-main; /* Default color */
  background: -webkit-linear-gradient(
    to right,
    $dark-purple-main,
    $light-purple-main
  ); /* Color for supporter browsers: Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    $dark-purple-main,
    $light-purple-main
  ); /* Color for supporter browsers: W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-background-clip: text ;
  -webkit-text-fill-color: transparent ;
}

.contact-form-container {
  width: 80%;
  margin: 0 auto;
}

.contact-form {
  margin-top: 1.2rem;
  padding-top: 0rem;
}

// .contact-form-field {
//   padding: 0px 0 30px 0;
// }

.contact-form-label {
  font-weight: 500;
  /* font-size: 0.9rem; */
  color: $dark-blue-font;
}

.contact-form-input {
  width: 100%;
  display: block;
  padding: 8px 15px;
  margin-top: 0.4rem;
  font-size: 0.8rem;
  color: $dark-blue-font;
  border-radius: 20px;
  border: 2px solid rgb(204, 203, 206);
  font-family: $default-font-family;
}

textarea {
  resize: none;
  height: 8rem;
  font-family: $default-font-family;
}

.contact-form-input:focus,
textarea:focus {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  border: 2px solid red;
  outline: none;
  border: 2px solid $light-purple-main;
}

.btn-submit {
  position: relative;
  float: right;
  margin: 0px 20px 15px 20px;
  padding: 15px 35px;
  border: $dark-purple-main;
  color: white;
  font-weight: 600;
  font-size: 1rem;
  border-radius: 4px;
  text-decoration: none;

  background: $dark-purple-main; /* Default color */
  background: -webkit-linear-gradient(
    to right,
    $dark-purple-main,
    $light-purple-main
  ); /* Color for supporter browsers: Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, $dark-purple-main, $light-purple-main);
}

.contact-smp-icons {
  margin: 50px auto;
  width: 90%;
  display: flex;
  justify-content: space-between;
}

.contact-icon {
  height: 60px;

  /* margin-right: 20px; */
}

/* ##################### */
/* ### Footer ### */
/* ##################### */

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* border-top: 1px solid #023047; */
  background: $dark-purple-main; /* Default color */
  background: -webkit-linear-gradient(
    to right,
    $dark-purple-main,
    $light-purple-main
  ); /* Color for supporter browsers: Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    $dark-purple-main,
    $light-purple-main
  ); /* Color for supporter browsers: W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.footer-container {
  width: 86%;
  margin: 0px auto;
  padding-top: 1.6rem;
  padding-bottom: 1rem;

  @media screen and (min-width: 992px) {
    width: 90%;
  }
}

.small-icon {
  font-size: 1.2rem;
  color: $dark-blue-icon;
}

.text-small {
  font-size: 1rem;
}

.footer-link {
  color: #03045e;
}

.footer-icon {
  font-size: 1.7rem;
  color: $dark-blue-icon;
  margin: 0 20px;
}

.footer-icon:hover {
  color: #03057a;
}
